table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
}

td {
  width: 10%;
  border: 5px solid black;
}

.black {
  background-color: black;
}

.cross {
  background-image: url("./X.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.circle {
  background-image: url("./O.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.crosshover {
  background-image: url("./X.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.1;
}

.circlehover {
  background-image: url("./O.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.1;
}